workflows/telegram-bridge.json
{
  "name": "📱 Telegram Bridge",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "telegramBotToken": "{{TELEGRAM_BOT_TOKEN}}"
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Photo File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Document File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo File": {
      "main": [
        [
          {
            "node": "Download Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document File": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "Analyze Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Photo": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Media": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Call Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "n8n-claw-telegram",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "text",
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": { "type": "string", "operation": "exists", "singleValue": true },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  },
                  {
                    "operator": { "type": "object", "operation": "notExists", "singleValue": true },
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": ""
                  },
                  {
                    "operator": { "type": "object", "operation": "notExists", "singleValue": true },
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": ""
                  },
                  {
                    "operator": { "type": "object", "operation": "notExists", "singleValue": true },
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "photo",
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": { "type": "array", "operation": "exists", "singleValue": true },
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "voice",
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": { "type": "object", "operation": "exists", "singleValue": true },
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "document",
              "conditions": {
                "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": { "type": "object", "operation": "exists", "singleValue": true },
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-by-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{TELEGRAM_BOT_TOKEN}}/getFile?file_id={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "options": {}
      },
      "id": "get-photo-file",
      "name": "Get Photo File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{TELEGRAM_BOT_TOKEN}}/getFile?file_id={{ $json.message.voice.file_id }}",
        "options": {}
      },
      "id": "get-voice-file",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{TELEGRAM_BOT_TOKEN}}/getFile?file_id={{ $json.message.document.file_id }}",
        "options": {}
      },
      "id": "get-document-file",
      "name": "Get Document File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        80
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{TELEGRAM_BOT_TOKEN}}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-photo",
      "name": "Download Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -240
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{TELEGRAM_BOT_TOKEN}}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-voice",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -80
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{TELEGRAM_BOT_TOKEN}}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-document",
      "name": "Download Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        80
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "transcribe-voice",
      "name": "Transcribe Voice",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        960,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OpenAI Compatible LLM"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "contentType": "multiModal",
              "multiModalContent": {
                "multiModalContent": [
                  {
                    "type": "text",
                    "text": "=Describe this image in detail. {{ $('Telegram Trigger').first().json.message.caption ? 'User caption: ' + $('Telegram Trigger').first().json.message.caption : '' }}"
                  },
                  {
                    "type": "imageFile",
                    "binaryField": "data"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-photo",
      "name": "Analyze Photo",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        960,
        -240
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OpenAI Compatible LLM"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "extract-pdf-text",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        960,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { userMessage: '[Unsupported media type — please send text, photo, voice, or document]' } }];"
      },
      "id": "unsupported-media",
      "name": "Unsupported Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').first().json.message;\nconst chatId = String(msg.chat?.id || '');\nconst userId = String(msg.from?.id || '');\nconst source = 'telegram';\n\nfunction out(message) {\n  return [{ json: { message, chat_id: chatId, user_id: userId, source } }];\n}\n\n// Check voice transcription result\ntry {\n  const transcript = $('Transcribe Voice').first()?.json?.text;\n  if (transcript) {\n    return out('[Voice message] ' + transcript);\n  }\n} catch(e) {}\n\n// Check photo analysis\ntry {\n  const analysis = $('Analyze Photo').first();\n  if (analysis) {\n    const j = analysis.json;\n    let description = '';\n    if (Array.isArray(j)) {\n      description = j[0]?.content?.[0]?.text || JSON.stringify(j);\n    } else {\n      description = j.text || j.content || JSON.stringify(j);\n    }\n    const caption = msg.caption || '';\n    const userMessage = '[Photo analysis]\\n' + description + (caption ? '\\n\\nUser caption: ' + caption : '');\n    return out(userMessage);\n  }\n} catch(e) {}\n\n// Check document (PDF text)\ntry {\n  const extracted = $('Extract PDF Text').first();\n  if (extracted) {\n    const filename = msg.document?.file_name || 'unknown';\n    const pdfText = extracted.json.text || '';\n    const userMessage = '[Document: ' + filename + ']\\n\\n' + pdfText + '\\n\\n' + (msg.caption || 'Please analyze this document.');\n    return out(userMessage);\n  }\n} catch(e) {}\n\n// Check unsupported\ntry {\n  const unsup = $('Unsupported Media').first()?.json?.userMessage;\n  if (unsup) {\n    return out(unsup);\n  }\n} catch(e) {}\n\n// Default: text message\nreturn out(msg.text || '');"
      },
      "id": "normalize-message",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_AGENT_WORKFLOW_ID",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": false
        },
        "inputData": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.message }}",
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "source": "telegram"
          }
        }
      },
      "id": "call-agent",
      "name": "Call Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        0
      ]
    }
  ]
}
